.lg-space-r>* {
    margin-right: 1em;
}

.lg-space-l>* {
    margin-left: 1em;
}

.lg-space-t>* {
    margin-top: 1em;
}

.lg-space-b>* {
    margin-bottom: 1em;
}

.lg-main,
.lg-nav {
    font-family: 'Sarabun', sans-serif;
}

.lg-nav {
    height: 70px !important;
}

.lg-nav-menu>* {
    font-size: larger;
    font-weight: bold;
}

.lg-space-p>p {
    margin-bottom: 0.25rem !important;
}

.lg-flex {
    flex-flow: wrap;
    justify-content: start;
}

.lg-img {
    object-fit: cover;
    max-width: 15rem;
}

.lg-fill {
    overflow: hidden;
}

.shrink-text {
    max-width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
